<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<link rel="stylesheet" th:href="@{/style.css}">
	<meta charset="UTF-8">
	<title>Новый работник</title>
	<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="d-flex justify-content-center align-items-center">
	<div>
		<form  th:method="POST" th:action="@{/employee}" th:object="${employee}">
	    <label for="name">Enter name: </label><br>
	    <input type="text" th:field="*{name}" id="name"/><br>
	    <label for="name">Enter surname: </label><br>
	    <input type="text" th:field="*{surname}" id="surname"/><br>
	    <label for="name">Enter phone number: </label><br>
	    <input type="text" th:field="*{phoneNumber}" id=" phoneNumber"/><br>
	    <label for="name">Enter department: </label><br>
	    <input type="text" th:field="*{department}" id="department"/><br>
	    
	    <div class="div">
	    	<a class="btn btn-secondary " th:href="@{/employee}">Go back</a>
		  	<button class="btn btn-primary " type="submit">Create</button><br>
	</div>
	 </form>
    <br/>
    
     </div>
		 </div>
	  


    

</body>
</html>